---
import Picture from "@astrojs/image/components/Picture.astro";
import { Icon } from "astro-icon";

const { costs, materials, steps, time, tools } = Astro.props;
---

<section class="howto">
  <h2>Anleitung</h2>

  <div class="prep">
    <ul class="list-group list-group-flush">
      <h3>Vorbereitung</h3>
      <li class="list-group-item">
        <Icon name="mdi:book-check-outline" />
        <b>Benötigte Materialien:</b>: {materials}
      </li>
      <li class="list-group-item">
        <Icon name="mdi:tools" />
        <b>Benötigte Werkzeuge:</b>
        {tools}
      </li>

      <li class="list-group-item">
        <Icon name="mdi:cash" />
        <b>Kosten:</b>
        {costs} CHF
      </li>

      <li class="list-group-item">
        <Icon name="mdi:clock-time-eight" />
        <b>Benötigte Zeit:</b>
        {time} Stunden
      </li>
    </ul>
  </div>
  <div class="steps">
    <h3>Schritte</h3>
    {JSON.stringify(steps, null, 2)}
    <div class="steps">
      <ul class="list-group list-group-flush">
        <li class="list-group-item py-4" id="x">
          <div class="row">
            <div class="col-2">
              <picture>
                <img
                  type="image/jpg"
                  src="/xx"
                  alt=""
                  width="100"
                  height="100"
                  class="rounded"
                />
              </picture>
            </div>
            <div class="col-10">
              <h3 class="h5 pt-0">
                <span class="step-index">1</span>Unterschritt Titel
              </h3>
              <ul class="substeps">
                <li>Unterschritt Text</li>
              </ul>
            </div>
          </div>
        </li>

        <ul></ul>
      </ul>
    </div>
  </div>
</section>

<style>
  .howto svg {
    height: 20px;
    transform: translateY(0.25rem);
    width: 20px;
  }
</style>
