---
import Link from "./Link.astro";

const { seed, t } = Astro.props;
---

<section>
  <h2>{t.title}</h2>
  <ul>
    {
      seed.expand.links.map((link: string) => (
        <li class="link">
          <Link link={link} />
        </li>
      ))
    }
  </ul>
</section>
