.faq {
  width: 100%;

  h2 {
    padding-bottom: var(--padd-lg);
  }

  details {
    border-top: 1px solid hsl(var(--dark) / 0.2);
    padding: var(--padd-xs) 0 var(--padd-xs) 0;
  }

  details:last-child {
    border-bottom: 1px solid hsl(var(--dark) / 0.2);
  }

  details[open] {
    padding-bottom: 0;
  }

  summary {
    padding: 0 1rem 0 1rem;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
  }

  summary::-webkit-details-marker,
  summary::marker {
    display: none !important;
    content: ""; /* fix for chrome */
  }

  summary:hover,
  summary:focus {
  }

  summary:after {
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transition: all 0.5s ease-out;
    border-bottom: 1px solid var(--body-color);
    border-right: 1px solid var(--body-color);
    float: right;
    position: relative;
    top: -30px;
  }

  h3 {
    font-size: inherit;
    font-weight: var(--fw-md);
    margin: 0;
    padding: var(--padd-xs) 0 var(--padd-xs) 0;
  }

  details div {
  }

  details[open] div {
    animation: blend-in 0.5s ease-out;
    /*background: linear-gradient(to bottom, #fff 0%, #eee 100%);*/
    margin: 1rem 0 0 0;
    padding: 0 1rem 0.5rem 1rem;
  }

  @keyframes blend-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  details[open] summary:after {
    content: "";
    transform: rotate(-135deg);
    margin-top: 8px;
  }

  details[open] summary:after {
    content: "";
    transform: rotate(-135deg);
    margin-top: 8px;
  }

  summary > h4 {
    display: inline;
    font-size: 20px;
    font-weight: 400;
  }

  details[open] summary > h3 {
    font-weight: 800;
  }
}
