---
import Default from "../../layouts/Default.astro";
import { getAuthors, filePathAuthors } from "../../config_pocketbase";
import { Picture } from "@astrojs/image/components";
import Authors from "../authors.astro";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getAuthors()).map((author) => ({
    params: {
      slug: author.slug,
    },
    props: {
      author,
    },
  }));
}

interface Props {
  author: any;
}

const { author } = Astro.props;
---

<Default
  title={author.name}
  desc={author.desc}
  bc_cat="authors"
  bc_catname="Autoren"
  bc_page={author.firstname + " " + author.lastname}
>
  <div slot="main">
    <article>
      <Picture
        src={filePathAuthors(author, "img")}
        widths={[1280]}
        aspectRatio="10:4"
        sizes="(max-width: 1280px) 1280px"
        formats={["avif", "webp", "jpeg"]}
        alt={"Portrait " + author.firstname + " " + author.lastname}
        class=""
      />

      <h1 class="title">{author.firstname + " " + author.lastname}</h1>

      <hr />
      <p>{author.desc}</p>

      <!--
        <slot />-->
    </article>
  </div>
</Default>
