---
import Frontpage from "../layouts/Frontpage.astro";
---

<Frontpage title="Home" desc="Übersicht" bc_page="Home">
  <div slot="main">
    <h1>Seeds - Leben fördern</h1>
    <p>Dies ist eine experimentelle Entwicklungsseite.</p>
    <h2>Übersichtsseiten</h2>
    <ul class="li"><a href="seeds">Seeds</a></ul>
    <ul class="li"><a href="environments">Umgebungen</a></ul>
    <ul class="li"><a href="plants">Pflanzen</a></ul>
    <ul class="li"><a href="animals">Tiere</a></ul>
    <ul class="li"><a href="principles">Design-Prinzipien</a></ul>
    <ul class="li"><a href="authors">Autoren</a></ul>
  </div>
</Frontpage>
