---
import Default from "../layouts/Default.astro";
import { getPrinciples } from "../config_pocketbase";

const principles = await getPrinciples();
---

<Default>
  <div slot="main">
    <h1>Design-Prinzipien</h1>
    <ul>
      {
        principles.map((principle) => (
          <li>
            <a href={"/principles/" + principle.slug}>{principle.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Default>
