---
import Logo from "../svg/Logo.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <div class="indent-me navbar">
    <a href="/"><Logo /></a>
    <nav>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
  </div>
</header>

<style>
  header {
    border-bottom: hsl(var(--dark) / 0.2) solid 1px;
  }
  .navbar {
    display: grid;
    grid-template-columns: 210px auto;
  }

  nav {
    align-self: center;
    justify-self: end;
    /*padding: var(--padd-sm) 0 0 0;
    text-align: right;*/
  }
</style>
