---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <div class="indent-me">
    <h1>
      {SITE_TITLE}
    </h1>
    <nav>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/seeds">Seeds</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
  </div>
</header>
<style>
  /*header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }*/
</style>
