---
import Default from "../../layouts/Default.astro";
import { getPlants, filePathPlants } from "../../config_pocketbase";

// create all the routes with specific detail page props
export async function getStaticPaths() {
  return (await getPlants()).map((plant) => ({
    params: {
      slug: plant.slug,
    },
    props: {
      plant,
    },
  }));
}

interface Props {
  plant: any;
}

const { plant } = Astro.props;
---

<Default>
  <div slot="main">
    <article>
      <h1 class="title">{plant.name}</h1>
      <p>{plant.desc}</p>
    </article>
  </div>
</Default>
