---
import Default from "../../layouts/Default.astro";
import { getSeeds } from "../../config_pocketbase";
import { trans } from "../../data/lang/de";

const seeds = await getSeeds();
---

<Default
  title="Seeds"
  desc="Übersicht"
  bc_page="Seeds"
  trans={trans.components}
>
  <div slot="main">
    <h1>Seeds</h1>
    <ul>
      {
        seeds.map((seed) => (
          <li>
            <a href={"/seeds/" + seed.slug}>
              {seed.name},{" "}
              {seed.expand.author.firstname + " " + seed.expand.author.lastname}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Default>
