---
const today = new Date();
---

<footer>
  <div class="indent-me">
    <a href="https://impactfactory.ch"
      >Design, Entwicklung, Konzept: ImpactFactory</a
    >. &copy; {today.getFullYear()}
  </div>
</footer>
