---
const today = new Date();
const { trans } = Astro.props;
---

<footer>
  <div class="indent-me">
    <a href="imprint">{trans.imprint}</a> |
    <a href="data-protection">{trans.dataprotection}</a> |
    <a href="https://impactfactory.ch">{trans.concept}</a>. &copy; {
      today.getFullYear()
    }
  </div>
</footer>

<style>
  footer {
    background: hsl(var(--dark) / 1);
    color: hsl(var(--light));
    display: block;
    height: auto;
    padding: var(--padd-md);
  }

  a {
    color: hsl(var(--light)) !important;
  }

  .indent-me {
    text-align: center;
  }
</style>
