---
import i18next, { t } from "i18next";
import { localizePath, localizeUrl } from "astro-i18next";

const today = new Date();
---

<footer>
  <div class="indent-me">
    <a href={localizePath("/imprint")}>{t("components:footer.imprint")}</a> |
    <a href={localizePath("/dataprotection")}
      >{t("components:footer.dataprotection")}</a
    > |
    <a href={localizeUrl("https://impactfactory.ch")}
      >{t("components:footer.concept")}{t("components:footer.impactfactory")}</a
    > &copy; {today.getFullYear()}
  </div>
</footer>

<style>
  footer {
    background: hsl(var(--dark) / 1);
    color: hsl(var(--light));
    display: block;
    height: auto;
    padding: var(--padd-md);
  }

  a {
    color: hsl(var(--light)) !important;
  }

  .indent-me {
    text-align: center;
  }
</style>
