---
const today = new Date();
---

<footer>
  <div class="indent-me">
    <a href="https://impactfactory.ch"
      >Design, Entwicklung, Konzept: ImpactFactory</a
    >. &copy; {today.getFullYear()}
  </div>
</footer>

<style>
  footer {
    background: hsl(var(--dark) / 1);
    color: hsl(var(--light));
    display: block;
    height: auto;
    padding: var(--padd-md);
  }

  a {
    color: hsl(var(--light)) !important;
  }

  .indent-me {
    text-align: center;
  }
</style>
