---
const { cat, cat_name, page_name } = Astro.props;
---

<nav class="breadcrumbs">
  <a href="/">Home{" "}</a><span>></span><a href={"/" + cat}
    >{" " + cat_name + " "}</a
  ><span>></span>{" " + page_name}
</nav>
