---
import { Picture } from "@astrojs/image/components";
import site from "../../data/site.json";

const { name, pathfunction } = Astro.props;
---

<div>
  <Picture
    alt={"Keyvisual " + name}
    aspectRatio="10:4"
    background="#fff"
    class="keyvisual"
    formats={["avif", "webp", "jpeg"]}
    sizes={site.landscapeSizes}
    src={pathfunction}
    widths={site.breakpoints}
    width="100%"
  />
</div>

<style>
  div {
    padding: var(--padd-md) 0 0 0;
  }

  img {
    aspect-ratio: 10 / 4;
  }
</style>
